@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .nav-wrapper {
    @apply flex
    gap-2
    place-items-center
    cursor-pointer
    sm:hover:bg-irodori-secondary
    sm:hover:rounded-full
    p-2
    ease-in-out
    duration-200;
  }
}
